[submodule "alignment-evaluation/spam-align"]
	path = alignment-evaluation/spam-align
	url = git@github.com:robinhundt/spam-align.git
[submodule "alignment-evaluation/bali-score"]
	path = alignment-evaluation/bali-score
	url = git@github.com:robinhundt/bali-score.git
